/* src/ProductList.css */
.product-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters label {
    margin-right: 10px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    width: 300px;
    padding: 10px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.product-card p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.product-card button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.product-card button:hover {
    background-color: #555;
}

@media screen and (max-width: 768px) {
    .product-card {
        width: 45%;
        /* Adjust the width for mobile */
        /* Other mobile-specific styles */
    }
}

/* Add more styles as needed */